@font-face {
  font-family: 'CaslonAntique';
  src: url('/fonts/caslon-antique/CaslonAntique.eot');
  src: url('/fonts/caslon-antique/CaslonAntique.eot?#iefix') format('embedded-opentype'),
       url('/fonts/caslon-antique/CaslonAntique.woff2') format('woff2'),
       url('/fonts/caslon-antique/CaslonAntique.woff') format('woff'),
       url('/fonts/caslon-antique/CaslonAntique.ttf') format('truetype'),
       url('/fonts/caslon-antique/CaslonAntique.svg#caslon_antiqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaslonAntiqueBold';
  src: url('/fonts/caslon-antique/CaslonAntiqueBold.eot');
  src: url('/fonts/caslon-antique/CaslonAntiqueBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/caslon-antique/CaslonAntiqueBold.woff2') format('woff2'),
       url('/fonts/caslon-antique/CaslonAntiqueBold.woff') format('woff'),
       url('/fonts/caslon-antique/CaslonAntiqueBold.ttf') format('truetype'),
       url('/fonts/caslon-antique/CaslonAntiqueBold.svg#caslon_antiquebold') format('svg');
  font-weight: normal;
  font-style: normal;
}
