<div class="o-outer-container">
  <div class="c-cards">
    <a class="c-card">
      <div class="c-card__title">Episode title</div>
      <div class="c-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
    </a>
    <a class="c-card">
      <div class="c-card__title">Episode title</div>
      <div class="c-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
    </a>
    <a class="c-card">
      <div class="c-card__title">Episode title</div>
      <div class="c-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit </div>
    </a>
  </div>
</div>


