<div class="c-player">
  <div class="o-outer-container">
    <div class="c-player__wrapper">
      <button class="c-player__play-pause">Play/Pause</button>
      <button class="c-player__rewind">-30s</button>
      <button class="c-player__speed">2x</button>
      <progress class="c-player__progress" value="0"></progress>
      <div class="c-player__duration">00:00</div>
      <div class="c-player__volume">Volume</div>

      <audio src="/mp3/01->_Au_manoir_de_Schaffer.mp3"></audio>
      <a class="c-player_download" href="/mp3/01->_Au_manoir_de_Schaffer.mp3" download>Télécharger</a>
    </div>
  </div>
</div>
