@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/orbitron/Orbitron.eot');
  src: url('/fonts/orbitron/Orbitron.eot?#iefix') format('embedded-opentype'),
       url('/fonts/orbitron/Orbitron.woff2') format('woff2'),
       url('/fonts/orbitron/Orbitron.woff') format('woff'),
       url('/fonts/orbitron/Orbitron.ttf') format('truetype'),
       url('/fonts/orbitron/Orbitron.svg#orbitronblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

