$base-texture-top-color: lighten($background, 1%);
$base-texture-bottom-color: darken($background, 10%);

html,
body {
  height: 100%;
}

// Main container that hold the header and content
// Takes all the available height (minus the footer height)
// Also adds an :after with the needed space
.l-container {
  @include background(url('/images/ui/texture.png'),
    linear-gradient(180deg, $base-texture-top-color, $base-texture-bottom-color),
    center no-repeat $base-texture-top-color scroll);
  padding-bottom: 3rem;
  height: 100%;

  background-position: 0 $header-height;
  background-repeat: no-repeat;
  background-size: cover;
}

.l-header {
}

.l-content {
}

