// Main page title
h2 {
  text-align: left;
  font-size: 3rem;
  font-family: 'Title';
  margin:1.5rem 0 1rem 0;
  color: $dark-green;
  a {
    color: $dark-green;
    &:hover {
      color: $light-green;
    }
  }
}

h3 {
  text-align: left;
  font-size: 2rem;
  font-family: 'Title';
  margin:1.5rem 0 0 0;
  color: $color-text;
  padding-bottom: 0.5rem;
}

