!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{'http-equiv': "X-UA-Compatible", content: "IE=edge"}
    %title
      = yield_content(:title)
    <meta name="description" content="Archives de nos parties de jeu de rôle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/mediaelement/2.21.1/mediaelementplayer.min.css"}
    = stylesheet_link_tag :main
    %link{rel: "shortcut icon", href: "/favicon.ico"}

  %body

    -# Add hero picture if one is defined
    - background_picture = yield_content(:background_picture)
    %div.l-container{class: ('l-container__with-hero' unless background_picture.nil?),
      style: ("background-image: url(#{background_picture})" unless background_picture.nil?)}

      %div.l-header
        =partial('partials/header')

      %div.l-content
        %div.o-outer-container
          = yield

    %script{src: 'https://cdn.jsdelivr.net/g/lodash@4.13.1,jquery@3.0.0-rc1'}
    %script{src: '/js/vendors/mediaelement-and-player.js'}
    %script{src: '/js/all.js'}
