!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{'http-equiv': "X-UA-Compatible", content: "IE=edge"}
    %title
      = yield_content(:title)
    <meta name="description" content="Archives de nos parties de jeu de rôle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/mediaelement/2.22.0/mediaelementplayer.min.css"}
    %link{rel: "stylesheet", href: "//cdn.jsdelivr.net/fancybox/2.1.5/jquery.fancybox.min.css"}
    = stylesheet_link_tag :main
    %link{rel: "shortcut icon", href: "/favicon.ico"}

  %body
    .l-container.bg-texture.bg-washed-green
      =partial('partials/header')

      -# Add hero picture if one is defined
      - background_picture = yield_content(:background_picture)
      - unless background_picture.nil?
        %div.fixed.w-100.h-100.z-1.bg-center.bg-cover{style: ("background-image: url(#{background_picture})" unless background_picture.nil?)}

      .pv3.z-2.relative
        = yield

        .tc.f6.gray.pt2
          Code and content available under a
          %a.link{href: 'https://creativecommons.org/licenses/by-sa/2.0/'}CC-BY-SA license
          on
          %a.link{href: 'https://github.com/pixelastic/roleplay.pixelastic.com'}GitHub


    %script{src: 'https://cdn.jsdelivr.net/g/lodash@4.13.1,jquery@3.0.0-rc1,fancybox@2.1.5'}
    -# Temporarily load this whole bunch of files until media element is released with the fix for Chromium
    <script src="/js/vendors/mediaelement/me-namespace.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-utility.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-i18n.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-plugindetector.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-featuredetection.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-mediaelements.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/me-shim.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-library.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-player.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-playpause.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-progress.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-time.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-speed.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-tracks.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-volume.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-stop.js" type="text/javascript"></script>
    <script src="/js/vendors/mediaelement/mep-feature-fullscreen.js" type="text/javascript"></script>

    %script{src: '/js/app.js'}
