---
---
- content_for(:title, game.name)

%div.mb4
  %h2.dib.antique.ma0.mb2
    %a.link.f2{href: "/#{game.slug}/"}=game.name
    .di.f4.antique.gray=game.players
  %div
    - game.sessions.each_with_index do |session, index|
      - link = session_url(game, session)
      - picture = session_picture_url(game, session)
      - picture = cloudinary(picture, %w(w_900 q_90 c_scale f_auto))
      - date = session_date(session)
      - description = session_description_short(game, session)
      %a.c-session.no-underline.dark-gray.flex.flex-row-l.flex-column.flex-nowrap.br2.mb2-l.mb3.oh.shadow-3{href: link}
        .c-session--image.link.relative.flex-none.bg-center.bg-cover.br.b--gray.antique{style: "background-image: url(#{picture})"}
          .absolute.bottom-0.left-0.bg-black-50.white-50.tr.ph2.pv1
            ="##{index + 1}"
          .absolute.bottom-0.right-0.bg-black-50.white-50.tr.ph2.pv1
            =date
        .flex-auto.pa2.bg-white.relative
          %div
            .di.f2.antique.link=session.name
            .di.f4.antique.link.gray.pl1=session.players
          .f5.i.pt1.ph0-l.ph1.lh-copy= description

