---
---
-game = data.send(game_name.to_sym)
-content_for(:title, game.name)

%div{class: ".t-#{game.slug}"}
  %h2
    =link_to game.name, "#{game.slug}.html"

  -# Tabs
  %ul.c-tabs
    -game.sections.each_with_index do |section, section_index|
      - tab_id = "tab_#{section_index}"
      %li.c-tab
        %input.c-tab--radio{type: 'radio', 
          name: 'tabs', 
          id: tab_id, 
          value: tab_id,
          checked: section_index == 0}

        %label.c-tab--title{for: tab_id}
          =section.name
        -# Because the `label` is display:inline-block, we must be careful as to 
        -# not add a new line between those two elements
        %div.c-tab--content
          %div.c-cards
            - section.items.each_with_index do |item, item_index|
              -link = media_link(item, game)
              -thumbnail = media_thumbnail(item, game)
              -classname = 'c-card__video' if video?(item)
              %a.c-card.js-fancybox{href: link, rel: tab_id, class: classname}
                - if item_index < 9
                  %div.c-card--image{'style': "background-image: url(#{thumbnail})"}
                - else
                  %div.c-card--image{'data-lazyload': thumbnail}
                -# %div.c-card--name
                -#   =item
