---
---
- podcast = session_podcast(game, session)
- picture = session_picture(game, session)
- pictures = session_pictures(game, session)
- notes = session_notes(game, session)
- content_for(:background_picture, picture)
- content_for(:title, session.name)


%h2.c-session--title= session.name

- if podcast?(game, session)
  %div.c-session--text-wrapper
    %audio{class: 'js-player', controls: '', preload: 'auto', src: podcast}
      %source{src: podcast}
    %a{href: podcast} Télécharger le .mp3

%div.c-session--text-wrapper
  =partial(session_notes_filepath_for_partials(game, session))

  %div.c-session--pictures
    - pictures.each do |picture|
      - thumbnail = picture
      - thumbnail = cloudinary_thumbnail(picture) if build?
      - picture = cloudinary_image(picture) if build?
      %a.c-session--picture.js-fancybox{href: picture, rel: 'pictures'}
        %div.c-session--picture-image{'style': "background-image: url(#{thumbnail})"}

