$base-border-color: gainsboro;
$base-border-radius: 3px;
$base-background-color: white;
$base-spacing: 1.5em;
$action-color: $blue;
$dark-gray: #333;
$base-font-color: $dark-gray;
$card-border-color: $base-border-color;
$card-border: 1px solid $card-border-color;
$card-background: lighten($card-border-color, 10%);
$card-header-background: $card-background;
$card-margin: 1em;
$card-image-hover-opacity: 0.7;
$card-image-hover-color: $blue;

.c-cards {
  margin-top: 2rem;
  @include display(flex);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
}

.c-card {
  @include flex-basis(15em);
  @include flex-grow(1);
  @include transition (all 0.2s ease-in-out);
  position: relative;
  max-width: 32em;
  background-color: $card-background;
  border-radius: $base-border-radius;
  border: $card-border;
  background-color: $card-image-hover-color;
  box-shadow: 0 2px 4px darken($base-background-color, 10%);
  cursor: pointer;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;

  &:focus,
  &:hover {
    cursor: pointer;

    .c-card--image {
      opacity: $card-image-hover-opacity;
    }
  }
}

.c-card__video:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/images/ui/video-mask.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-card--image {
  overflow: hidden;
  height: 200px;
  max-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-card--name {
  background-color: $card-header-background;
  border-bottom: $card-border;
  border-radius: $base-border-radius $base-border-radius 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: ($base-spacing / 3) ($base-spacing / 2);
}


