@font-face {
  font-family: 'Antique';
  src: url('/fonts/caslon-antique/CaslonAntique.eot');
  src: url('/fonts/caslon-antique/CaslonAntique.eot?#iefix') format('embedded-opentype'),
       url('/fonts/caslon-antique/CaslonAntique.woff2') format('woff2'),
       url('/fonts/caslon-antique/CaslonAntique.woff') format('woff'),
       url('/fonts/caslon-antique/CaslonAntique.ttf') format('truetype'),
       url('/fonts/caslon-antique/CaslonAntique.svg#caslon_antiqueregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

