$header-background: $darker-green;
$header-color: transparentize(white, .3);
$header-color-hover: white;
$header-height: 60px;
$header-z-index: 999;

.c-header {
  background-color: $header-background;
  border-bottom: 1px solid darken($header-background, 10);
  color: $header-color;
  height: $header-height;
  width: 100%;
  z-index: $header-z-index;
}

.c-header--title {
  font-family: 'Title';
  display: block;
  float: left;
  font-size: 2.5rem;
  height: $header-height;
  line-height: $header-height;
  margin: 0;
  a {
    position: relative;
    padding-left: 64px;
    color: $light-green;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(/img/ui/favicon.png);
      width: 64px;
      height: 55px;
    }
    &:hover {
      color: $orange;
    }
  }
}

