$session-margin: 10px;
$session-background: darken(white, 10%);
$session-border-color: darken($background, 10%);
$session-min-height: 60px;
$session-picture-width: 200px;

.c-session-list {
}

.c-session-item {
  background: $session-background;
  margin: 0 75px $session-margin 75px;
  border-radius: 3px;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 1px 4px darken($dark-green, 10%);
}

.c-session-item--picture {
  flex: 0 1 $session-picture-width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.c-session-item--details {
  flex: 1 1;
  min-height: $session-min-height;
  padding-left: 10px;
}
.c-session-item--name {
  font-family: 'Title';
  font-size: 2rem;
  height: $session-min-height;
  display: block;
  line-height: $session-min-height;
}
.c-session-item--description {
  font-style: italic;
  font-size: .9rem;
  color: $color-text;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-top: -5px;
}
