.c-session--picture-image {
  &:hover {
    opacity: .8;
  }
}

.img-right, .img-left {
  overflow: hidden;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.img-right p, .img-left p {
  margin-top: 0;
}
.img-right img, .img-left img {
  border-radius: .25rem;
  height: 16rem;
}
.img-right img {
  float: right;
  margin-left: 1rem;
}
.img-left img {
  float: left;
  margin-right: 1rem;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}
.img-gallery div {
  flex-grow: 1;
  width: calc(33% - 1rem);
}
.img-gallery img {
  border-radius: .25rem;
}
