$session-margin: 10px;
$session-background: darken(white, 10%);
$session-border-color: darken($background, 10%);
$session-min-height: 120px;
$session-picture-width: 200px;

.c-game--players {
  display: none;
  @media(min-width: $breakpoint-tablet) {
    display: inline-block;
    font-size: 1.2rem;
    color: lighten($color-text, 30%);
  }
}

.c-session-list {
}

.c-session-item {
  background: $session-background;
  margin-bottom: $session-margin;
  border-radius: 3px;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 1px 4px darken($dark-green, 10%);
  // Display pictures on the side on bigger screens
  @media(min-width: $breakpoint-tablet) {
    flex-flow: row nowrap;
  }
}

.c-session-item--picture {
  flex: 0 1 $session-picture-width;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  @media(min-width: $breakpoint-tablet) {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 3px;
  }
}
.c-session-item--details {
  flex: 1 1;
  min-height: $session-min-height;
  padding-left: 10px;
  border-top: 1px solid $dark-green;
  @media(min-width: $breakpoint-tablet) {
    border-top: 0;
    border-left: 1px solid $dark-green;
  }
}
.c-session-item--name {
  font-family: 'Title';
  font-size: 2rem;
  display: block;
  line-height: 1;
  padding: 5px 0;
}
.c-session-item--players {
  display: none;
  @media(min-width: $breakpoint-tablet) {
    display: inline-block;
    font-size: 1.2rem;
    color: lighten($color-text, 30%);
  }
}
.c-session-item--description {
  font-style: italic;
  font-size: .9rem;
  color: $color-text;
  padding: 5px 5px 10px 0;
  margin-top: -5px;
}
.c-session-item--date {
  color: lighten($color-text, 30%);
  font-size: .8rem;
  text-align: right;
  padding-right: 5px;
}
