// Colors
.dark-green { color: $dark-green; }
.bg-dark-green { background-color: $dark-green; }
.bg-texture { background-image: url('/img/ui/texture.png'); }
// Background
.bg-top { background-repeat: no-repeat; background-position: top }
.bg-center { background-repeat: no-repeat; background-position: center }
.bg-cover { background-size: cover; }
.bg-contain { background-size: contain; }
// Flexbox
.flex-nogrow { flex-grow: 0; }
.flex-noshrink { flex-shrink: 0; }
// Overflow
.oh { overflow: hidden; }
// Fonts
.antique { font-family: 'Antique'; }
// Text align
.taj { text-align: justify; }
// Max width
.mw-25 { max-width: 25%; }
.mw-33 { max-width: 33%; }
// Font-size
.f7 { font-size: .85rem; }
