// Header
$header-height: 50px;

// Colors
// $background: #EFE7DA;
$dark-green: #0E4749;
$darker-green: #002626;
$light-green: #95C623;
$orange: #f3a801;

// Breakpoints
$bp-medium: 30rem;
$bp-large: 60rem;
