<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {% if page.id == "index" %} {{ site.title }} {% else %} {{ page.title | xml_escape }} - {{ site.title }} {% endif %}
  </title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link rel="stylesheet" href="/main.css">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
