<div class="sidebar">
  <div class="sidebar-about">
    <h1><a href="/index.html">{{ site.title }}</a></h1>
    <p class="lead">{{ site.description }}</p>
  </div>

  <!--This is a CSS trick to hide/show the sidebar for mobiles-->
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
  <ul class="sidebar-nav">
    <li class="sidebar-nav-item{% if page.id == "index" %} active{% endif %}">
      <a href="/">Accueil</a>
    </li>
    <li class="sidebar-nav-item{% if page.id == "about" %} active{% endif %}">
      <a href="/about/">À propos</a>
    </li>
    <li class="sidebar-nav-item{% if page.id == "archive" %} active{% endif %}">
      <a href="/archive/">Archive</a>
    </li>
  </ul>

  <div class="footer">Code source disponible sur <a href="{{ site.repository }}">GitHub</a></div>
</div>
