---
title: Roleplay
---

hahaha

-# %div.c-cards
-#   - data.index.each do |section_name|
-#     - section = data.send(section_name.to_sym)
-#     - cover = "/images/covers/#{section.slug}.jpg"
-#     - cover = cloudinary_thumbnail(cover) if build?
-#     - link = "/#{section.slug}.html"
-#     %a.c-card{href: link}
-#       %div.c-card--image{style: "background-image:url(#{cover});"}
-#       %div.c-card--name
-#         =section.name
